/* Reset some default styles for consistency */
.resume-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  
  }
  
  .edu-title{
    display:flex;
    margin-top: 150px;
    margin-right: 1200px;
  } /* Apply styles to the container */
.p{
    font-family: 'Lucida Sans';
    font-size: 25px;
    
    
  }
  /* Apply styles to individual items */
  .resume-swipe {
    width: 200px;
    height: 100px;
    margin: 10px;

    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }
  
  /* Additional styles for responsiveness */
  @media screen and (max-width: 600px) {
    .item {
      width: calc(50% - 20px); /* Two items per row on smaller screens */
    }
  }
  
  @media screen and (max-width: 400px) {
    .item {
      width: 100%; /* One item per row on even smaller screens */
    }
  }
  